@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@700&display=swap');



.main_photo{
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;

background: black;
}
.wrapper_header {
    position: absolute;
    width: 1440px;
    height: 890px;
}

.header_nav_link{
    position: absolute;
    height: 50px;
    left: 860px;
    top: 0px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.header_nav_link_two{
position: absolute;
height: 50px;
left: 939px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: #FFFFFF;
}
.header_nav_link_three{
    position: absolute;
    height: 50px;
    left: 1050px;
    top: 0px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.header_nav_link_four{
position: absolute;
height: 50px;
left: 1135px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: #FFFFFF;
}
.header_nav_link_five{
    position: absolute;
    height: 50px;
    left: 1213px;
    top: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}
.header_nav_link_six{
    position: absolute;
width: 25px;
height: 50px;
left: 1332px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 50px;
text-align: center;
color: #BDAE82;
}
.main_big{
position: static;
width: 100%;
height: 100%;


background: url(header-bg.jpg)
}
.main_port{
    position: absolute;
height: 120px;
left: 0%;
right: 6%;
top: 130px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
width: 570px;
margin-top: 126px;
margin-left: 75px;
}

h1{
    height: 60px;
}
button{
    position: absolute;
    height: 60px;
    width: 225px;
    background: #BDAE82;
    border-radius: 0px;
    cursor: pointer;
}